*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
#header{
    height: 46px;
    background-color: rgb(0, 0, 0);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.text-white{
    color: white!important;
}
.text-opacity{
    opacity: 0.8;
    color:black;
}
#nav li {
    display: inline-block;
    position: relative;
}   
#nav{
    display: inline-block;
}

#nav  li a{
    text-decoration: none;
    color: black;
    display: block;
    
}
#nav > li > a{
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    text-transform: uppercase;
    display: inline-block;
}
#nav>li:hover>a{
    color: black;
    background-color:#ccc;
    display: block;

}
#nav li:hover .subnav{
    
    display: block;
}
#nav .subnav li:hover a{
    background-color: #ccc;
    color:black;
}
.subnav{
    display:none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    top: 100%;
    left:  0;
}
.subnav li{
    width: 100%;
    background-color:white;
    color:black;
}
.subnav  a {
    padding:0px 10px;
    line-height:38px;
}
#sliders{
    position: relative;
    margin-top: 45px;
    padding-top: 50%;
    background: url(../img/chill.jpeg) top center / cover no-repeat;
}
#nav .nav-arrow-down{
    font-size:14px;
}

.search-button{
    color:white;
    font-size:30px;
    line-height: 46px;
    padding: 0px 32px;
    float: right;
}
.search-button:hover{
    background-color: #f44336;
    cursor: pointer;
    
}
.text-content{
    right: 0;
    left: 0;
    position:absolute;
    bottom: 42px;
    text-align: center;
    color: white;
    ;
    
}
.text-heading{
    font-weight:500px;
    font-size: 24px;
}
.tet-description{
    margin-top: 10px;
    font-size:15px;
}
.text-contain{
    padding:64px 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.section-heading{
    text-align: center;
    text-weight:500px;
    font-size:30px;
    letter-spacing: 3px;
}
.section-sub-heading{
    text-align: center;
    font-size :  15px;
    margin-top: 15px;
    font-style: italic;
    opacity: 0.8;
}
#about{
    margin-top: 15px;
    font-size :  15px;
    text-align:justify;
    line-height:1.9;
}
#content .member-item{
    float: left;
    text-align: center;
    width: calc(100%/3);
    
}
#content .member-list{
    margin-top: 47px;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    width: 152px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.tour-section{
    background-color: black;
}
.ticket-list{
    margin-top:40px;
    background-color:#fff;
}
.ticket-list li{
    list-style: none;
    color: #757575;
    font-size:  15px;
    padding: 12px 16px;
    border-bottom: 1px solid #dddddd;
}
.sold-out{
    background-color:#f44336;
    color: white;
    padding: 0 8px;
    margin-left: 16px;
}
.numberTicket{
    background-color:black;
    border-radius: 70%;
    padding-left: 6px;
    padding-right: 6px;
    float: right;
    font: 16px;
    color: white;
}
.place-list{
    margin-top: 32px;
    margin-left: -8px;
    margin-right:-12px
    
}
.buyTicket {
    padding:0 8px;
    float: left;
    width: 31.22222%;
}
.img-place{
    display:block;
}
.img-place:hover{
    opacity: 0.6;
}
.placeBody {
    background-color:#fff;
    padding:16px 16px;
    font-size: 15px;
}
.place-heading{
    font-size:15px;
    font-weight:400;
}
.place-time{
    margin-top: 15px;
}
.placedisciption{
    margin-top: 15px;
    line-height: 1.4;
}
.place-Button{
    color:white;
    background-color: black;
    padding: 9px 20px;
    text-decoration:  none;
    display: inline-block;
    margin-top: 25px;
}
.place-Button:hover{
    background-color:#ccc;
    color:black;
}